List
- a list of comma-separated values which need NOT be of the SAME TYPE

Accessing values in lists

In [1]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5]

print("List1[0]:", list1[0])
print("List2[1:5]", list2[1:5])

List1[0]: physics
List2[1:5] [2, 3, 4, 5]

Updating lists

In [2]:
list1[2] = 2001
print("Now the value in list1 at index 2 is ", list1[2])
for x in list1:
  print(x)

Now the value in list1 at index 2 is  2001
physics
chemistry
2001
2000

Delete list elements

In [3]:
del list1[2]

print("Now the value of 2001 in list1 at index 2 is missing")
for x in list1:
  print(x)

Now the value of 2001 in list1 at index 2 is missing
physics
chemistry
2000

Basic List operation
- length
- concatenation
- repetition
- membership
- iteration

In [4]:
#length
len([1,2,3])

#concatenation
[1,2,3] + [4,5,6]

#repetition
["Hi!"] * 4

#membership
3 in [1,2,3]

#iteration
for x in [1,2,3]:
  print(x)

1
2
3