Tuple
- a sequence of immutable Python objects
- can have REPEATED elements
- ordered
- unlike lists, it cannot be changed
- uses parentheses NOT brackets

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1,2,3,4,5)

Accessing values in tuples

In [2]:
print(tup1[0])
print(tup2[1:5])

physics
(2, 3, 4, 5)

Updating tuples

In [3]:
tup3 = tup1 + tup2
print(tup3)

('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5)

Delete tuple elements

In [4]:
tup1 = ('physics', 'chemistry', 1997, 2000)
del tup1

Basic tuple operations:

In [5]:
#Length
len((1,2,3))

#Concatenation
(1,2,3) + (4,5,6)

#Repetition
('Hi!') *4

#Membership
3 in (1,2,3)

#Iteration
for x in (1,2,3):
  print(x)

1
2
3