2D array is an array of arrays

The position of an element is referred to by using 2 indices instead of 1.

Consider 4 days, with each day recording a temperature a few times 

Day 1 - 11 12 5 2

Day 2 - 15 6 10

Day 3 - 10 8 12 5

Day 4 - 12 15 8 6

In [1]:
#represented as 2D array

T = [[11,12,5,2], [15,6,10], [10,8,12,5], [12,15,8,6]]

Accessing elements in 2D array

In [2]:
print(T[0])
print(T[0][3])

[11, 12, 5, 2]
2

In [3]:
for r in T:
  for c in r:
    print(c, end=" ")
  print()

11 12 5 2
15 6 10
10 8 12 5
12 15 8 6

Inserting values in 2D array

In [4]:
#Inserting at index position 2 a new array
T.insert(2, [0,5,11,13,6])
for r in T:
  for c in r:
    print(c, end=" ")
  print()

11 12 5 2
15 6 10
0 5 11 13 6
10 8 12 5
12 15 8 6

Updating values in 2D array

In [5]:
T[2] = [11,9]
T[0][3] = 7

for r in T:
  for c in r:
    print(c, end=" ")
  print()

11 12 5 7
15 6 10
11 9
10 8 12 5
12 15 8 6

Deleting values in 2D array

In [6]:
del T[3]
for r in T:
  for c in r:
    print(c, end=" ")
  print()

11 12 5 7
15 6 10
11 9
12 15 8 6