Sets
- elements in a set CANNOT BE DUPLICATES
- immutable
- unordered
- no index attached - hence no indexing / slicing

Creating a set
- can use set() method
- or placing elements in a pair of curly braces

In [1]:
days = set(['Mon','Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun'])
months = {'Jan', 'Feb', 'Mar'}
dates = {21,22,17}
print(days)
print(months)
print(dates)

{'Fri', 'Thur', 'Wed', 'Mon', 'Sun', 'Tue', 'Sat'}
{'Mar', 'Feb', 'Jan'}
{17, 21, 22}

Accessing values in a set
- We cannot access individual values in a set

Adding items to a set
- using add()

In [2]:
days.add('GreenDay')
print(days)

{'GreenDay', 'Fri', 'Thur', 'Wed', 'Mon', 'Sun', 'Tue', 'Sat'}

Union of sets
- The union operation on two sets produces a new set containing all the distinct elements from both sets

In [3]:
DaysA = set(['Mon', 'Tue', 'Wed'])
DaysB = set(['Thur', 'Fri', 'Sat'])
alldays = DaysA|DaysB
print(alldays)

{'Wed', 'Mon', 'Tue', 'Fri', 'Sat', 'Thur'}

Intersection of sets
- containing only the common elements from both sets

In [4]:
DaysC = set(['Mon', 'Sun', 'Wed', 'Thurs'])
alldays2 = DaysA & DaysC
print(alldays2)

{'Wed', 'Mon'}

Difference of sets
- produces a new set containing only the elements from the FIRST set and NONE from the SECOND set

In [5]:
DaysD = set(['Wed', 'Thur', 'Fri'])
alldays3 = DaysA - DaysD
print(alldays3)

{'Tue', 'Mon'}

Compare sets
- check if a given set is a subset or a superset of another set

In [6]:
DaysE = set(['Mon', 'Tue', 'Wed', 'Thur', 'Fri'])
subset = DaysA <= DaysE
superset = DaysE >= DaysA
print(subset)
print(superset)

True
True